<img src="<%= @user.img_url %>">

<h1><%= @user.name %></h1>

<ul>
  <li>Average Event Score: <%=  %> </li>
  <li>About Me: <%= @user.bio %> </li>
  <li>City: <%= @user.city %> </li>
  <li>State/Province : <%= @user.state_province %> </li>
  <li>Country: <%= @user.country %> </li>
  <li>About Me: <%= @user.bio %> </li>
</ul>

<h2>Upcoming Events</h2>

<ul>
  <% @user.future_events.each do |event| %>
    <li> <%= event.title %></li>
  <% end %>
</ul>

<h3>Past Events</h3>

<h4>Reviews</h4>
<ul>
  <% @user.reviews.each do |review| %>
    <li><ul>
      <li>Event: <%= review.event.title %></li>
      <li>Score: <%= review.score %></li>
      <li>Comment: <%= review.comment %> </li>
    </ul></li>
  <% end %>
</ul>