

<h1><%= @user.name %></h1>

<ul>
  <li> <%= @user.img_url %> </li>
  <li>Average Event Score: <%=  %> </li>
  <li>About Me: <%= @user.bio %> </li>
  <li>City: <%= @user.city %> </li>
  <li>State/Province : <%= @user.state_province %> </li>
  <li>Country: <%= @user.country %> </li>
  <li>About Me: <%= @user.bio %> </li>
</ul>

<h2>Upcoming Events</h2>

<ul>
  <% @user.events.each do |event| %>
    <li> <%= event.title %></li>
  <% end %>
</ul>

<h3>Past Events</h3>

<h4>Reviews</h4>
<ul>
  <% @user.events.each do |event| %>
    <% event.reviews.each do |review| %>
      <li><ul>
        <li>Score: <%= review.score %></li>
        <li>Comment: <%= review.comment %> </li>
      </ul></li>
    <% end %>
  <% end %>
</ul>