

<h1><%= @event.title %></h1>

<ul>
  <li>Location: <%= @event.location %> </li>
  <li>Attire <%= @event.attire %> </li>
  <li>Date: <%= @event.event_date.strftime("%d %b %y") %> </li>
  <li>Start: <%= @event.start_time.to_formatted_s(:time) %></li>
  <li>End: <%= @event.end_time.to_formatted_s(:time) %></li>
  <li>Description <%= @event.food_bio %></li>
</ul>

<h2>Reviews</h2>
<ul>
  <% @event.reviews.each do |review| %>
    <li><ul>
      <li>Created at: <%= review.created_at %></li>
      <li>Score: <%= review.score %></li>
      <li>Comment: <%= review.comment %> </li>
    </ul></li>

  <% end %>
</ul>