
<h3>Hello <%= User.find(session[:user_id]).name %></h3>

<ul>
  <% Event.future_events.each do |event| %>
    <li>
      <h2><a href="events/<%= "#{event.id}/#{URI.escape(event.title)}" %>"><%= event.title %></a></h2>
    </li>
    <ul>
      <li>Location: <%= event.location %> </li>
      <li>Host <a href="users/<%= "#{event.user.id}/#{URI.escape(event.user.name)}" %>"> <%= event.user.name %> </a> </li>
      <li>Attire <%= event.attire %> </li>
      <li>Date: <%= event.event_date.strftime("%d %b %y") %> </li>
      <li>Start: <%= event.start_time.to_formatted_s(:time) %></li>
      <li>End: <%= event.end_time.to_formatted_s(:time) %></li>
      <li>Description <%= event.food_bio %></li>
      <li>Category: <%= event.category.genre %></li>
    </ul>
  <% end %>
</ul>

<a href='/events/new'>Want to become a Dinrsaur? Host a meal!</a>
<br>
<a href='/logout'>Logout</a>