
<h3>Hello <%= User.find(session[:user_id]).name %></h3>

<form action="/" method="get" id = "filter-events">
  Category:
  <select name="category" form="filter-events" onchange="this.form.submit()">
  <option value ="">all</option>
  <% Category.all.each do |category| %>
    <% genre = category.genre %>
    <% if @category.genre == genre %>
      <option value="<%= genre %>" selected="selected"><%= genre + " (#{Event.where(category_id: category.id).count})"%>
    <% else %>
      <<option value="<%= genre %>"><%= genre  + " (#{Event.where(category_id: category.id).count})"%>
    <% end %>
    </option>
  <% end %>
  </select>
</form>

<ul>
  <% @events.each do |event| %>
    <li>
      <h2><a href="events/<%= "#{event.id}/#{URI.escape(event.title)}" %>"><%= event.title %></a></h2>
      <% unless User.find(session[:user_id]).attending?(event.id) %>
        <form action="events/attend/<%= event.id %>" method="post">
          <button name="attend" type="submit" value="true">Crash this Dinr</button>
        </form>
      <% end %>
      <ul>
        <li>Location: <%= event.location %> </li>
        <li>Host <a href="users/<%= "#{event.user.id}/#{URI.escape(event.user.name)}" %>"> <%= event.user.name %> </a> </li>
        <li>Attire <%= event.attire %> </li>
        <li>Date: <%= event.event_date.strftime("%d %b %y") %> </li>
        <li>Start: <%= event.start_time.to_formatted_s(:time) %></li>
        <li>End: <%= event.end_time.to_formatted_s(:time) %></li>
        <li>Description <%= event.food_bio %></li>
        <li>Category: <%= event.category.genre %></li>
        <li>Dinrsaurs Attending: 
          <%= event.attending_users.map{|user| user.name}.join(", ") %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>

<a href='/events/new'>Want to become a Dinrsaur? Host a meal!</a>
<br>
<a href='/logout'>Logout</a>